.pol-warranty {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
}
.pol-warranty h1 {
    color: #E8C284;
    text-align: center; 
}
.pol-warranty h2 {
    color: #E8C284;
    font-family:Trebuchet MS;
}
.pol-warranty p {
    font-family :Verdana ;
    text-align: justify; 
}
.pol-warranty ul {
    list-style-type: disc;
    margin-left: 20px;
    text-align: justify;
}