.layout {
    background-color: black;
    padding-left: 10.4vw;
    padding-right: 10.4vw;
    min-height: 70vh;
    transition: transform 0.3s ease-in-out;
}


.sticky {
    background-color: black !important;
    position: sticky;
    top: 0px;
    z-index: 100;
}


.go-to-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #555;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: opacity 0.3s;
    opacity: 1;
}

.go-to-top-button-hidden {
    opacity: 0;
    pointer-events: none;
  }


