.layout {
    background-color: black;
    padding-left: 10.4vw;
    padding-right: 10.4vw;
    min-height: 70vh;
    transition: transform 0.3s ease-in-out;
}


.sticky {
    background-color: black !important;
    position: sticky;
    top: 0px;
    z-index: 100;
}


