.product-list-title {
    text-align: left !important;
    font-weight: 300;
}

.product-list-card {
    margin-top: 20px;

}

.product-list-banner {
    width: 100%;
}

.product-list-banner img {
    object-fit: cover;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    margin-top: 40px;
}

.change-page-btn {
    border: 2px solid white;
    color: white;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 5px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.change-page-btn.current {
    /* background-color: #E8C284; */
    width: 60px;
    height: 30px;
    object-fit: contain;
}

.filter-btn {
    margin-left: 1%;
}

.filter-btn:hover {
    background-color: #000000 !important;
    color: white !important;
}

.sort-btn:hover {
    cursor: pointer;
    background-color: #505050 !important;
}

.btn-disabled {
    color: #505050;
}
