.Cart  {
    background-color: rgb(0, 0, 0) !important;
    background-image: url('/public/img/register.png');
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 20px; */

}

.in-cart{
    display: flex;
    flex-direction: row;
}
@media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }

.Cart .custom-hr {
    color: aliceblue;
}

.Cart .row{
    margin-top: 0px !important;
}

.Cart .above-row {
    color: aliceblue;
}


.Cart .card{
    border: none;
}


.h-100 h-custom {
    background-color: #E8C284;
}   

.payment {
    background-color: #E8C284;
    border-radius: 15px;
    /* transform: scale(0.95); */
    margin-left: auto;
    
}



.in-payment{
    margin: 15px 15px 15px 15px;
}


.row-information{

  width: 50% !important;
  /* margin-left: 150px;
  margin-top: 60px !important; */
}

.cart-option  a{
    text-decoration: none;
    color: rgb(255, 255, 255) !important;
}


.row-information{

  width: 50% !important;
  /* margin-left: 150px;
  margin-top: 60px !important; */
}



.checkout > div:first-child {
    margin-right: 120px;
  }

.submit-checkout {
    background-color: rgb(247, 247, 247) !important;
    border: none !important;
    
    }
.custom-input {
    background-color: black !important;
    color: white !important;
      }
.custom-input-left {
    width: 50px;
    margin-right: 35px ;
}
.total{
    border: none;
    width: 100%;
}
      