.header-bot-sticky a {
    font-weight: bold;
    padding-top: 0 !important;
    margin-left: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.header-bot-sticky img {
    height: 60px;
    object-fit: contain;
}


.logo-aura-watch {
    transform: scale(0.9);
}