.header-bot-sticky a {
    font-weight: bold;
    padding-top: 0 !important;
    margin-left: 15px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
}

.header-bot-sticky img {
    height: 60px;
    object-fit: contain;
}


.logo-aura-watch {
    transform: scale(0.9);
    padding: 0 !important;
}

.header-bot-sticky {
    padding: 0;
}

.header-bot-sticky .nav-link.active {
    border: 0px;
    background-color: black;
    color: #e8c284 !important;
}

.dropdown-menu-custom li:hover>.dropdown-item {
    background-color: #e8c284;
}

.dropdown-menu-custom a {
    margin: 0 !important;
}